# Vim
*~

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
.uv/
dist/
build/
.coverage
htmlcov/
uv.lock

# Node
node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn.lock

# Artifacts
var/
*.pdf
!backend/compile-service/static/placeholder.pdf
*.log
